@layer base {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    position: relative;
    border-color: var(--border);
  }

  html,
  body {
    font-family: var(--font-sans);
    color: var(--foreground);
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--theme-fg-dim) / 0.3);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--theme-fg-dim) / 0.5);
}

::-webkit-scrollbar {
  background: transparent;
  width: 16px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header {
  transform: translateY(15%);
}

::selection {
  background-color: hsl(var(--primary) / 0.3);
  color: var(--primary);
}

html {
  scroll-behavior: auto;
}

@property --mask-left {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --mask-right {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --mask-top {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --mask-bottom {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}
