@layer utilities {
  .squiggly-underline {
    position: relative;
  }

  .squiggly-underline::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 4"%3E%3Cpath d="M0,3 Q2.5,0 5,3 T10,3 T15,3 T20,3" stroke="black" stroke-width="2" fill="none" stroke-linecap="round"/%3E%3C/svg%3E');
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 4"%3E%3Cpath d="M0,3 Q2.5,0 5,3 T10,3 T15,3 T20,3" stroke="black" stroke-width="2" fill="none" stroke-linecap="round"/%3E%3C/svg%3E');
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-size: 12px 4px;
    mask-size: 12px 4px;
    pointer-events: none;
    z-index: 1;
  }

  .hover\:squiggly-underline {
    position: relative;
  }

  .hover\:squiggly-underline::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 4"%3E%3Cpath d="M0,3 Q2.5,0 5,3 T10,3 T15,3 T20,3" stroke="black" stroke-width="2" fill="none" stroke-linecap="round"/%3E%3C/svg%3E');
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 4"%3E%3Cpath d="M0,3 Q2.5,0 5,3 T10,3 T15,3 T20,3" stroke="black" stroke-width="2" fill="none" stroke-linecap="round"/%3E%3C/svg%3E');
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-size: 12px 4px;
    mask-size: 12px 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1;
  }

  .hover\:squiggly-underline:hover::after {
    opacity: 1;
  }
}
